<app-template-a [title]="title" [subtitle]="subtitle">
<app-form-order class="main-content" (submitted)="openAddModal($event)"></app-form-order>
</app-template-a>

<ng-template #confirmAddModal let-modal>
  <app-modal tite="Confirmation d'ajout" (dissmissed)="dissmissModal()">
    <div class="modal-body">
      Etes-vous sur de vouloir ajouter cet élément ?
    </div>
    <div class="modal-footer">
      <app-btn typeButton="button" (clicked)="addOrder(modalValues)" label="Valider" [action]="true"></app-btn>
    </div>
  </app-modal>
</ng-template>
