<app-template-a title="Client">
  <app-table-light
  class="main-content"
  [headers]="tableHeaders"
  *ngIf="collectionClients$ | async as clientsList">

    <tr *ngFor="let client of clientsList">
      <td>{{ client.name }}</td>
      <td>{{ client.ca | currency: "EUR" }}</td>
      <td>{{ client.comment }}</td>
      <td appState [state]="client.state">
        <select (change)="changeState(client, $event)">
          <option
            *ngFor="let state of states"
            [value]="state"
            [selected]="state === client.state"
          >
            {{ state }}
          </option>
        </select>
      </td>
    <td>
      <app-icon-update (click)="edit(client)"></app-icon-update>
      <app-icon-delete (click)="deleteClient(client)"></app-icon-delete>
      <app-btn route="/orders/recap/{{client.id}}" label="commandes"></app-btn>
    </td>
    </tr>
  </app-table-light>
  <!-- <div *ngIf="!clientsList">Page en cours de chargement...</div> -->
  <div class="button-group">
   <app-btn route="/clients/add" label="Ajouter un client"></app-btn>
  </div>
</app-template-a>
