<header class="fixed-top">
  <app-icon (click)="toggleMenu()"></app-icon>
  <ng-content select="app-header"></ng-content>
</header>
<main [ngClass]="{ 'close-aside': !menuIsOpen }">
  <div class="shadow position-fixed" (click)="toggleMenu(false)"></div>
  <aside>
    <div class="scoller">
      <ng-content select="app-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="content">
      <ng-content select=".content"></ng-content>
    </div>
    <footer>
      <ng-content select="app-footer"></ng-content>
    </footer>
  </div>
</main>
